.posi{
    height: 10px;
    padding:16px 0 11px;
    a{
        padding:0 18px 0 14px;
        background: url(../img/detail/icon/jiantou.png) right center no-repeat;
    }
    a:hover{
        text-decoration: underline;
    }
    span{
        color:#bababa;
        padding-left:10px;
    }
}
.main{
    height:512px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    .leftPic{
        width: 400px;
        height: 512px;
        .mainPic{
            width: 350px;
            height: 350px;
            margin:15px 0 0 25px;   
            position: relative;
            .cursmall{
                position: absolute;
                background: #FFFFFF;
                opacity: 0.6;
            }         
        }
        .picbig{
            position: relative;
            z-index: 5;
            .curbig{
                position: absolute;    
            }
        }
        .listPic{
            padding-top: 8px;
            margin-left: 25px;
            width: 350px;
            .picSpan{
                height: 45px;
                line-height: 45px;
                cursor: pointer;
                padding-top: 10px;
            }
            .listDetail{
                overflow: hidden;
                width: 325px;
                height: 58px;
                float: left;
                position: relative;
  
                .clear{
                    padding-top: 10px;
                    
                    position: absolute;
                    left:0;
                    top:0;
                    li{
                        cursor: pointer;
                        border: 1px solid #e9e9e9;
                        margin:1px 5px;
                        float: left;
                        padding: 1px;
                        width: 42px;
                        height: 42px;
                        position: relative;
                        img{
                            margin: 1px;
                            height: 40px;
                            width: 40px;                        
                        }
                        span{
                            display: none;
                            position: absolute;
                            top:-4px;
                            height: 6px;
                            width: 40px;
                            background: url(../img/detail/icon/jiantou2.png) center 0 no-repeat;
                        }
                    }
                }
            }
        }
        .share{
            margin-top: 25px;
            height: 14px;
            img:hover{
                cursor: pointer;
                opacity: 0.5;
            }
            .img1{
                margin-left: 215px;
            }
            .img2{
                margin-left:46px;
                position: relative;
                .shareLink{
                    display: none;
                    width: 84px;
                    height: 34px;
                    background: url(../img/detail/bshare.png) left center no-repeat;
                    position: absolute;
                    top:100%;
                    left:-4px;
                    padding-left:16px;
                    a{
                        margin-top: 11px;
                        margin-right: 7px;
                        width: 16px;
                        height: 16px;
                        float:left;
                    }
                    .shareA1{
                        background: url(../img/detail/icon/icons_0_16.png) center -1612px no-repeat;
                    }
                    .shareA2{
                        background: url(../img/detail/icon/icons_0_16.png) center -104px no-repeat;   
                    }
                    .shareA3{
                        background: url(../img/detail/icon/icons_0_16.png) center -260px no-repeat;
                    }
                }
            }
            .img2:hover{
                .shareLink{
                    display: block;
                }
            }
            
        }           
    }
    .rightPla{
        margin-top:15px;
        width: 796px;
        height: 438px;
        .title{
            width:796px;
            height:16px;
            font-size:16px;
            color:#6b6b6b;
            font-weight: 600;
            display: block;
        }
        .code{
            width:796px;
            height:14px;
            font-size: 14px;
            color:#6b6b6b;
            margin-top:9px;
            display: block;
        }
        .price1{
            width:796px;
            margin-top: 18px;
            font-size: 18px;
            color:#7f6d54;
            padding-left: 7px;
            font-weight: 600;
            display: block;
        }
        .vip{
            margin-top:9px;
            height: 22px;
            line-height: 22px;
            .vip1{
                text-align: center;
                color:#FFFFFF;
                background: #7f6d54;   
                height: 22px;
                width: 60px;
                border-radius: 4px;
                font-weight: 600;   
                margin-right:15px;          
            }
            .vip2{
                color:#7f6d54;
                font-weight: 600;   
            }
            a{
                color:red;
            }
        }
        .sales{
            margin-right:736px ;
            margin-top: 5px;
            width: 60px;
            height: 22px;
            background: #b1544f;
            color:#FFFFFF;
            text-align: center;
            font-weight: 600;
            border-radius: 4px;
            display: block;
        }
        .num{
            width: 600px;
            height: 60px;
            background: #f6f5f3;
            dl{
                float: left;
                margin:0 8px;
                text-align: center;
                height: 44px;
                dt{
                    font-size: 16px;
                    width: 176px;
                    margin-bottom:18px;
                    color:#b15474;
                }
                dd{
                    color:#6b6b6b;
                }
            }
            .middl{
                width: 176px;
                margin-top: 5px;
                border-left:1px solid #dcdcdc ;
                border-right:1px solid #dcdcdc ;
                position: relative;
                dt{
                    position: absolute;
                    top:-5px;
                }
                dd{
                    position: absolute;
                    top:35px;
                    width: 176px;
                }
            }
        }
        .introduce{
            margin:10px 0;
            width: 600px;
            height: 41px;
            font-weight: 600;
            line-height: 21px;
            color:#6b6b6b;   
        }
        .sizeColor{
            width:600px;
            height: 74px;
            background: #f6f5f3;
            span{
                font-weight: 600;
            }
            ul{
                float: left;
                li{
                    position: relative;
                    margin-right: 5px;
                    float:left;
                    width: 38px;
                    height: 19px;
                    border: 1px solid #FFFFFF;
                    a{
                        text-align: center;
                        display: inline-block;
                        width:36px;
                        height: 17px;
                        border: 1px solid #cccccc;
                        background: url(../img/detail/icon/goodspecbg.gif) center center repeat-x;
                    }
                    i{
                        display: none;
                        width: 12px;
                        height: 12px;
                        background: url(../img/detail/icon/dapu_item_sel.png);
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
            .color{
                height: 21px;
                line-height: 21px;
                padding:13px 0 6px 10px;
            }
            .size{
                height: 21px;
                line-height: 21px;
                padding-left:10px;
                li{
                    width: 55px;
                    a{
                        width: 53px;
                    }
                }
            }
        }
        .count{
            height: 33px;
            width: 600px;
            line-height: 33px;
            .add{
                width: 13px;
                height: 15px;
                border: 1px solid #e4e0e1;
                border-radius: 2px;
                margin-left: 11px;
                background: url(../img/detail/icon/goodspecbg.gif) center center repeat-x;
                cursor: pointer;
            }
            .n{
                width:24px;
                height: 17px;
                margin-left: 11px;
                border: 1px solid #b4b4b4;
                text-align: center;
                background: #eaeaea;
            }
            a{
                float:right;
                margin-right:36px;
            }
            a:hover{
                text-decoration: underline;
                color:#7f6d54;
            }
        }
        .shopcar{
            width:582px;
            padding-top: 18px;
            border-top: 1px solid #e6e6e6;
            margin-left:9px;
            .car{
                display: inline-block;
                width: 141px;
                height: 32px;
                background: #b1544f;
                border-radius: 2px;
                text-align: center;
                line-height: 32px;
                color:#FFFFFF;
                cursor: pointer;
            }
            .erweima{
                z-index: 5;;
                position: relative;
                line-height: 30px;
                width: 198px;
                height: 30px;
                background: #f5f3f2;
                border: 1px solid #dcdcdc;
                text-align: center;
                cursor: pointer;
                img{margin-top:4px;
                    margin-left:24px;
                    margin-right: 10px;
                }
            }
            .erweima2{
                display: none;
                position: absolute;
                width:198px;
                height: 170px;
                background: #FFFFFF;
                border: 1px solid #DCDCDC;
                border-top: none;
                top:100%;
                left:-1px;
            }
        }
    }
}
.bottom{
    .bottom-left{
        height:4500px;
        width:188px;
        border: 1px solid #dcdcdc;
        margin-right: 8px;
        margin-top: 10px;
    }
    .bottom-right{
       .rightTop{
           height: 28px;
           width: 1000px;
           background: #FFFFFF;
           border-bottom: 1px solid #DCDCDC;
           padding-top: 10px;
           span{
               cursor: pointer;
               font-weight: 600;
               padding:0 14px ;
               height: 28px;
               line-height: 28px;
               text-align: center;
               font-size: 14px;
           }
           .goodsDetail{
               margin-left: 38px;
               background: url(../img/detail/tab-bg.png) 0 0 no-repeat;
               position: relative;
               i{
                   z-index: 1;
                   opacity: 1;
                   position: absolute;
                   padding-right: 3px;
                   top:0;
                   left:84px;
                   width:90px ;
                   height: 28px;
                   background: url(../img/detail/tab-bg.png) 0 -40px no-repeat;
                   background-size: 85px 532%;
               }
           }
           .goodsServe{
               margin-left: 3px;
               background: url(../img/detail/tab-bg.png) 0 -80px no-repeat;
           }
           .goodsSay{
               margin-left: 3px;
               background: url(../img/detail/tab-bg.png) 0 -120px no-repeat;
           }
       }
       .rightBottom{
           width:960px;
           border: 1px solid #DCDCDC;
           padding:23px 0 0 38px;
           .detailWord{
               .detailWordDl{
                   dt{
                       height: 31px;
                       width: 50px;
                       line-height: 31px;
                       font-weight: 600;
                       color:#6B6B6B;
                       margin-right: 30px;
                   }
                   dd{
                       color:#6b6b6b;
                        height: 31px;
                        line-height: 31px;
                        width: 600px;
                   }
               }
           }
           .detailPic{
               div{
                   width: 790px;
               }
               img{
                   width: 100%;
                   height: 100%;
               }
           }
       }
       .fir{
           display: block;
       }
       .sec{
           display: none;
       }
    }
}

.userIdea{
    padding-top: 30px;
    width: 930px;
    color:#6b6b6b;
    margin-bottom: 100px;
    dt{
        margin-bottom: 10px;
    }
    .userv{
        width: 926px;
        border: 1px solid #dedede;
        padding:17px 0;
        text-indent: 16px;
    }
    .resv{
        margin-top: 10px;
        margin-bottom: 21px;
    }
    .time{
        height: 10px;
        width: 930px;
        text-align: right;
    }
}


.foot{
    font-size: 10px;
    height: 146px;
    margin-top:57px;
    text-align: center;
    .weChat{
        dl{
            float: left;
            margin:20px 90px;
            dt{
                width:120px;
                height: 120px;
            }
            dd{
                text-align: center;
                margin-top: 9px;
            }
        }
    }
    
    .footUl{
        width: 360px;
        margin:18px auto 0;
        li{
            text-align: center;
            float: left;
            width: 59px;
            border-left:1px solid #222222 ;
            a:hover{
                text-decoration: underline;
                color:#5F3F3F;
            }
        }
        .footLi{
            border: none;
        }
    }
}
.foot>span{
    display: block;
    height: 34px;
    line-height: 34px;
}
