<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>大朴新疆棉针织纯色件套</title>
		<link rel="stylesheet" type="text/css" href="css/com.css"/>
		<link rel="stylesheet" type="text/css" href="css/detail.css"/>
		<link rel="stylesheet" type="text/css" href="css/headNavFixed.css"/>
		<link rel="stylesheet" type="text/css" href="css/shouHou.css"/>
		<script src="js/require.js" type="text/javascript" data-main = "detail.js" charset="utf-8"></script>
		<script id="detailWordModel" type="text/html">
			<% for(var i=0; i<data.length; i++){ %>
				<dl class="detailWordDl clear">
					<dt class="fl"><%=data[i].word1%></dt>
					<dd class="fl"><%=data[i].word2%></dd>
				</dl>
			<% } %>
		</script>
		<script id="detailPicModel" type="text/html">
			<% for(var i=0; i<data.length; i++){ %>
				<div class="clear">
					<img src="<%= data[i].src %>"/>
				</div>
			<% } %>
		</script>
		<script id="user" type="text/html">
			<% for(var i=0; i<data.length; i++){%>
				<dl>
					<dt><%= data[i].user %></dt>
					<dd class="userv clear"><%= data[i].mes %></dd>
					<dd class="resv"><%= data[i].rev %></dd>
					<dd class="time"><%= data[i].time %></dd>
				</dl>
			<%}%>
		</script>
	</head>
	<body>
		<div id="headNav">				<!--当高度达到下面评论区时，就让head和nav隐藏 当高度小于多少时显示-->
		</div>	
		<div id="keyDiv">
		</div>
		<div class="posi comwid">
			<a href="#">首页</a>
			<a href="#">卧室用品</a>
			<a href="#">床品件套</a>
			<a href="#">四件套/三件套</a>
			<span>天然新疆棉针织纯色件套</span>
		</div>
		
		<div class="main comwid">
			<div class="leftPic fl">
				<div class="mainPic">
					<img src=""/>	
				</div>
			
				<div class="listPic clear">
					<span class="fl picSpan picSpan1">◀</span>
					<div class="listDetail">
						<ul class="clear ul1">
							<li class="purple"><span></span><img src="img/detail/purplr/p1.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p2.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p3.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p4.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p5.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p6.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p7.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p8.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p9.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p10.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p11.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p12.jpg"/></li>
						</ul>
						<ul class="clear ul2">
							<li class="purple"><span></span><img src="img/detail/purplr/r1.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r2.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r3.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r4.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r5.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r6.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r7.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r8.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r9.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p10.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p11.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p12.jpg"/></li>
						</ul>
						<ul class="clear ul3">
							<li class="purple"><span></span><img src="img/detail/purplr/r1.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r2.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p3.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r4.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r5.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p6.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r7.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p8.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/r9.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p10.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p11.jpg"/></li>
							<li class="purple"><span></span><img src="img/detail/purplr/p12.jpg"/></li>
						</ul>
					</div>
					<span class="fl picSpan picSpan2">▶</span>
				</div>
				<div class="share">
					<span class="img1"><img src="img/detail/icon/favorite01.png"/></span>
					<span class="img2"><img src="img/detail/icon/bshare01.png"/>
						<div class="shareLink">
							<a href="#" class="shareA1"></a>
							<a href="#" class="shareA2"></a>
							<a href="#" class="shareA3"></a>
						</div>
					</span>
				</div>
			</div>
			<div class="rightPla fr">
				<span class="title">天然新疆棉针织纯色件套</span>
				<span class="code">商品编码&nbsp;:&nbsp;&nbsp;<i>1010201752</i></span>
				<span class="price1">￥399</span>
				<div class="vip">
					<span class="vip1 fl">会员价</span>
					<span class="vip2">￥379</span>
					<a href="#">如何成为会员？</a>
				</div>
				<span class="sales">促销</span>
				<div class="num">
					<dl>
						<dt>9</dt>
						<dd>销量</dd>
					</dl>
					<dl class="middl clear">
						<dt>2</dt>
						<dd>用户评论数</dd>
					</dl>
					<dl>
						<dt>798</dt>
						<dd>评论送积分</dd>
					</dl>
				</div>
				<div class="introduce">
					采用新疆长绒棉为原料，经精梳工艺纺织纱布，后进行高温定型、柔软等处理，使织物具有柔软的触感，如贴身衣物般的舒适亲肤，吸湿透气
				</div>
				<div class="sizeColor clear">
					<div class="color">
						<span class="fl">颜色&nbsp;：&nbsp;&nbsp;</span>
						<ul>
							<li><a href="#">紫色</a><i></i></li>
							<li><a href="#">玫红</a><i></i></li>
							<li><a href="#">灰色</a><i></i></li>
						</ul>
					</div>
					<div class="size">
						<span class="fl">尺寸&nbsp;：&nbsp;&nbsp;</span>
						<ul>
							<li><a href="#">1.2米床</a><i></i></li>
							<li><a href="#">1.5米床</a><i></i></li>
							<li><a href="#">1.8米床</a><i></i></li>
						</ul>
					</div>
				</div>
				
				<div class="count">
					<span>数量&nbsp;:&nbsp;&nbsp;</span>
					<input class="add jia" type="button" name="" id="" value="-" />
					<input class="n" type="text" id="" value="1" />
					<input class="add jian" type="button" name="" id="" value="+" />
					<a href="#">尺码助手</a>
				</div>
				<div class="shopcar">
					<a href="#" class="car">加入购物车</a>
					<div class="fr erweima">“扫一扫”手机购买<img src="img/detail/erweima.png"/>▼
						<span class="erweima2"><img src="img/detail/erweima2.png"/></span>
					</div>
					
				</div>
			</div>
		</div>
		<div class="bottom clear comwid">
			<div class="bottom-left fl">
				
			</div>
			<div class="bottom-right clear fl">
				<div class="rightTop">
					<span class="goodsDetail fl">商品详情</span>
					<span class="goodsServe fl">售后服务</span>
					<span class="goodsSay fl">用户评价（2）</span>
				</div>
				<div class="fir rightBottom clear">
					<div class="detailWord clear">
						
					</div>
					<div class="detailPic clear">
						
					</div>
				</div>
				<div class="sec rightBottom clear">
					<!--关于售后方面的，可以做一个公用的模块-->
					<div id="serve"></div>
					
					<div class="detailWord clear">
						
					</div>
					<div class="detailPic clear">
						
					</div>
				</div>
				<div class="thr rightBottom clear">
					<!--用户评论模块可以用json文件直接导入-->
					<div class="userIdea">
						
					</div>
					<div class="detailWord clear">
						
					</div>
					<div class="detailPic clear">
						
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="foot comwid">
			<div class="footUl clear">
				<ul>
					<li class="footLi"><a href="#">关于大朴</a></li>
					<li><a href="#">帮助中心</a></li>
					<li><a href="#">联系我们</a></li>
					<li><a href="#">手机大朴</a></li>
					<li><a href="#">友情链接</a></li>
					<li><a href="#">网站地图</a></li>
				</ul>
			</div>

			<span>Copyright @ 2013-2018 dapu.com 北京大朴至向家居设计有限公司 京ICP备12027522号 京ICP证130030号</span>
			<a href="#"><img src="img/coin/dapu_icon-police.png"/>京公网安备 11010502030202号</a>
		</div>
	</body>
</html>
