.logo {
  margin-top: 10px;
}

.head {
  height: 70px;
}

.headforfixed {
  position: fixed;
  left: 75px;
  z-index: 11;
  background: #FFFFFF;
}

.navforfixed {
  top: 70px;
}

.login {
  width: 90px;
  height: 30px;
  background: #b1544f;
  padding: 0 5px;
  margin-top: 20px;
}
.login a {
  color: #fff;
  display: block;
  margin: 7px 0;
  padding: 0 10px;
  font-size: 12px;
  height: 16px;
  width: 24px;
}
.login a:hover {
  color: #a4bac8;
  text-decoration: underline;
}
.login .login_a {
  border-right: 1px solid #fff;
}

.searchBar {
  margin-right: 92px;
  margin-top: 20px;
  position: relative;
  z-index: 6;
}
.searchBar input {
  float: left;
  height: 30px;
  border: 0;
}
.searchBar input:nth-child(1) {
  background: #eeeeee;
  text-indent: 5px;
  width: 180px;
}
.searchBar input:nth-child(2) {
  background: url(../img/big.png) center center no-repeat;
  width: 30px;
  cursor: pointer;
}
.searchBar input:nth-child(3) {
  background: url(../img/dapu_201510150001-cart.png) center center no-repeat;
  margin-left: 10px;
  width: 30px;
  cursor: pointer;
}
.searchBar .goodsNum {
  position: absolute;
  top: 0;
  right: -10px;
  width: 19px;
  height: 17px;
  border-radius: 20px;
  background: #b1544f;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.searchBar .carList {
  position: absolute;
  display: none;
  z-index: 10;
  top: 102%;
  right: 0;
  width: 315px;
  height: 60px;
  line-height: 60px;
  padding-left: 15px;
  border: 1px solid #8e8b8a;
  background: #fff;
}
.searchBar #hotSearch ul {
  display: none;
  position: absolute;
  top: 105%;
  z-index: 7;
  width: 170px;
  background: #EEEEEE;
  padding: 10px 20px;
}
.searchBar #hotSearch ul li {
  width: 100%;
  margin: 2px 0;
}
.searchBar #hotSearch ul li a {
  font-size: 14px;
}
.searchBar #searchUl ul {
  position: absolute;
  top: 105%;
  display: none;
  width: 170px;
  background: #EEEEEE;
  padding: 0 20px;
  overflow: hidden;
}
.searchBar #searchUl ul li {
  list-style: circle;
  line-height: 16px;
  margin: 4px 0;
}
.searchBar #searchUl ul li a {
  padding: 4px 0;
  width: 100%;
  display: block;
  font-size: 14px;
  color: #FF0000;
}
.searchBar #searchUl ul li a:hover {
  background: #00FF7F;
}

.nav ul {
  position: relative;
}
.nav ul li {
  position: relative;
  cursor: pointer;
  width: 109px;
  height: 50px;
  line-height: 50px;
  background: url(../img/coin/nav_fenge.png) left center no-repeat;
  float: left;
  text-align: center;
  font-size: 14px;
}
.nav ul li .Lichild {
  z-index: 5;
  position: absolute;
  top: 100%;
  left: 29px;
  display: none;
}
.nav ul li .Lichild dt {
  float: left;
  height: 30px;
  line-height: 30px;
  font-weight: 600;
  font-size: 14px;
  margin-right: 25px;
}
.nav ul li .Lichild dt:hover {
  text-decoration: underline;
}
.nav ul li .Lichild dt:hover a {
  color: #b27646;
}
.nav ul li .Lichild dd {
  margin-top: 3px;
  margin-right: 3px;
  height: 30px;
  line-height: 30px;
  float: left;
  font-size: 12px;
}
.nav ul li .Lichild dd a {
  padding: 1px 2px;
}
.nav ul li .Lichild dd a:hover {
  color: #fff;
  background: #BAA796;
}
.nav ul li .nav_div1 {
  width: 1000px;
}
.nav ul li .nav_div2 {
  width: 850px;
}
.nav ul li .nav_div3 {
  width: 600px;
}
.nav ul li .nav_div4 {
  width: 450px;
}
.nav ul li .nav_div5 {
  width: 400px;
}
.nav ul li .nav_div6 {
  width: 300px;
}
.nav ul li .nav_div7 {
  width: 450px;
}
.nav ul li .nav_div8 {
  width: 250px;
}
.nav ul li .nav_div9 {
  width: 150px;
}
.nav ul li > a:hover {
  font-weight: 700;
}
.nav ul .homePage {
  background: none;
}
.nav ul .navList {
  z-index: 3;
  display: none;
  width: 1200px;
  background: #FFFFFF;
  opacity: 0.9;
  height: 270px;
  position: absolute;
  top: 100%;
  left: 0;
}

.key {
  position: fixed;
  top: 112px;
  right: 0;
  width: 40px;
  height: 290px;
  z-index: 10;
}
.key li {
  height: 45px;
  width: 40px;
  margin-bottom: 15px;
}
.key li a {
  display: block;
  opacity: 0;
  height: 45px;
  width: 40px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
}
.key li:hover {
  background: #B1544F;
}
.key li:hover a {
  opacity: 1;
}
.key .keyLi1 {
  background: url(../img/fixed/dapu_201510150001-home.png) center center no-repeat;
  line-height: 45px;
}
.key .keyLi2 {
  background: url(../img/fixed/dapu_201510150001-member.png) center center no-repeat;
}
.key .keyLi2 a {
  width: 35px;
  padding: 3px 0 0 3px;
}
.key .keyLi3 {
  background: url(../img/fixed/dapu_201510150001-cart.png) center center no-repeat;
  line-height: 45px;
}
.key .keyLi4 {
  background: url(../img/fixed/dapu_201510150001-app.png) center center no-repeat;
  line-height: 45px;
  position: relative;
}
.key .keyLi4 span {
  position: absolute;
  left: -130px;
  top: -50px;
  width: 125px;
  height: 130px;
  border: 1px solid #E6E6E6;
  background: #FFFFFF;
  display: none;
  text-align: center;
  line-height: 0;
  opacity: 0.8;
}
.key .keyLi4:hover span {
  display: block;
}
.key .keyLi5 {
  background: url(../img/fixed/dapu_20161013_huiyuan.png) center center no-repeat;
  background-size: 40px 45px;
  line-height: 45px;
  position: relative;
}
.key .keyLi5 span {
  position: absolute;
  left: -130px;
  top: -50px;
  width: 125px;
  height: 130px;
  border: 1px solid #E6E6E6;
  background: #FFFFFF;
  display: none;
  text-align: center;
  line-height: 0;
  opacity: 0.8;
}
.key .keyLi5:hover span {
  display: block;
}
.key .keyLi6 {
  background: url(../img/fixed/dapu_201510150001-top.png) center center no-repeat;
}
.key .keyLi6 a {
  width: 35px;
  padding: 3px 0 0 3px;
}
